body {
  margin: 50px 50px;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.card {
  background: #fff;
  border-radius: 5px;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 0 #555;
  width: 30%;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
}

.card p {
  line-height: 25px;
  font-weight: 100;
  text-shadow: 0 0 black;
}

.card span {
  color: #ccc;
  padding-bottom: 12px;
}

.best-sell {
  color: white;
  background: #21ad21;
  padding: 3px 13px;
  font-weight: 600;
  width: 29%;
  font-size: 12px;
}

.review, .review-sec, .review-third i {
  color: black;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.d-flex {
  display: flex;
}

.wishlist i {
  padding: 7px 67px 0px 28px;
  border-right: 1px solid #9a9a9a;
  color: #2f2b2b;
  height: 30px;
}

.addtocart, .addtocart-sec, .addtocart-third {
  color: #2f2b2b;
  font-size: 13px;
}

.addtocart i, .addtocart-sec i, .addtocart-third i {
  padding: 7px 0px 0px 46px;
  color: #2f2b2b;
  margin: 0px 8px;
}

.addtocart-dislay {
  display: none;
}

.addtocart-dislay-sec {
  display: none;
}

.addtocart-dislay-third {
  display: none;
}

.card:hover .addtocart-dislay {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px 10px;
  margin: 10px 10px;
}

.card:hover .addtocart-dislay-sec {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px 10px;
  margin: 10px 10px;
}

.card:hover .addtocart-dislay-third {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px 10px;
  margin: 10px 10px;
}

.select-weight, .select-weight-sec, .select-weight-third {
  border-bottom: 1px solid #ccc;
  display: none;
  margin-top: 14px;
  padding: 10px;
}

.gram-circle, .gram-circle-sec, .gram-circle-third {
  border-radius: 50%;
  padding: 20px 10px;
  border: 1px solid #ccc;
  margin: 15px 0px 0px 23px;
  color: #ccc;
}

.gram-circle2, .gram-circle2-sec, .gram-circle2-third {
  border-radius: 50%;
  padding: 20px 10px;
  border: 2px solid #000;
  margin: 15px 0px 0px 23px;
  color: #000;
}

.gram-circle2, .gram-circle2-sec, .gram-circle2-third :hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.circle-pd .gram-circle ,.circle-pd-sec .gram-circle-sec ,.circle-pd-third .gram-circle-third {
  display: none;
}

.circle-pd .gram-circle2 , .circle-pd-sec .gram-circle2-sec , .circle-pd-third .gram-circle2-third {
  display: none;
}

.cups40, .cups40-sec, .cups40-third {
  display: none;
}

.quick {
  display: none;
}

.card:hover .quick {
  float: right;
  margin: -21px 0px;
  font-size: 11px;
  line-height: 17px;
  display: block;
}

.quick .fa-ellipsis-h {
  font-size: 17px;
}

.cross {
  float: right;
  margin: -22px 0px;
}

.select-wg {
  float: left;
  margin: -19px 0px;
}
